# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*$py.class

# =====================
# Virtual environments
# =====================
.venv/
venv/
Venv/
env/
lunar_env/
lib/
site-packages/

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# OS files
# =====================
.DS_Store

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# PyTorch / ML
# =====================
checkpoints/
*.pt
*.pth
*.pkl

# =====================
# Temp / duplicates
# =====================
*~
*.bak
*.tmp
* 2.py
*2.py